{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Carta de local{%endblock%}

{% block content %}
      <div class="container">
        <h2>Carta de ÑamÑam</h2>
         <div class="table-responsive">
            <table id="menu" class="table table-striped table-hover table-menu">
                <thead>
                    <tr>
                        <th class="no-sort">Nombre</th>
                        <th class="no-sort">Ingredientes</th>
                        <th>Precio</th>
                        <th class="no-sort">Añadir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in productos %}
                    <tr>
                        <td> {{p.name}} </td>
                        <td> Ingrediente1, ingrediente2, ingrediente3 y tomate</td>
                        <td> {{p.price}} €</td>
                        <td>
                            <a href="{% url 'add_shoppingcart' pk=p.pk%}" class="button">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           </div>
        </div>
 {%endblock%}
