{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{% bootstrap_messages %}
{%block title%}{% trans "New category" %}{%endblock%}

{% block content %}
  <div class="container">
  <h1>{% trans "New category" %}</h1>
  <form method="POST" class="local-form"> {%csrf_token%}
          {% bootstrap_form form %}
          {% buttons %}
          <div class="row">
            <a class="col-sm-2 text-left" href="{% url 'seller.views.get_my_locals'%}">
                <button type="button" class="btn btn-default" style="margin-bottom: 15px">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {% trans "Cancel" %}
                </button>
            </a>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {% trans "Save" %}</button>
          </div>
          {% endbuttons %}
  </form>
  </div>
{%endblock%}
