{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Locals" %}{%endblock%}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br/>
          <form class="form-inline well white" style="text-align:center;">
              <div class="form-group">
                  <label style="font-weight: normal;" for="postcode">{% trans "Results for" %}: </label>
                  <input id="postcode" name="postcode" type="text" class="form-control input-md" value="{{request.GET.postcode}}">
              </div>
              <button onclick="#" class="form-control">{% trans "Search" %}</button>
          </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 search-filter" id="sidebar">
          <div class="col-md-12 well white">
            <form action="{% url "search" %}" method="GET" >
              <h4>{% trans "Order by" %}</h4>
              <div class="radio">
                <label>
                  <input type="radio" name="list_by" onchange="this.form.submit();" value="0" {%if request.GET.list_by == '0'%}checked{%endif%}>
                  {% trans "Top-Rated" %}
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="list_by" onchange="this.form.submit();" value="1" {%if request.GET.list_by == '1'%}checked{%endif%}>
                  {% trans "New" %}
                </label>
              </div>
              <hr />
              <h4>{% trans "Kitchen" %}</h4>
                {% for c in supercats %}
              <div class="radio">
                <label>
                  <input type="radio" name="cuisine" onchange="this.form.submit();" value={{ c.name }} {%if request.GET.cuisine == c.name %}checked{%endif%}>
                  {{ c.name }}
                </label>
              </div>
                {% endfor %}
              <input type="hidden" name="postcode" value="{{request.GET.postcode}}" />
              <button onclick="#" class="form-control">{% trans "Update" %}</button>
            </form>
          </div>
      </div>
      <div class="col-md-9">
          <div id="map"></div>
          <div class="row">
              <div class="col-md-12">
                  <h4>{{locals|length}} local{%if locals|length != 1 %}es{%endif%} {% trans "found in this zone" %}</h4>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                {% for local in locals %}
                  <div class="item-search well white">
                      <div class="row">
                          <div class="col-xs-6 col-md-2 avatar-wrapper text-center">
                              {%if local.photo %}
                                  <img alt="" height="100px" width="100px" class="img-circle center-block" src="{{MEDIA_URL}}{{local.photo}}">
                              {% else %}
                                  <img height="100px" width="100px"  class="img-circle center-block" alt="{% trans "Profile image" %}" src="{% static "images/No_image_available.png" %}" alt="{% trans "Profile image" %}">
                              {%endif%}
                              <p class="stars">
                                      {{ local.avg_rating }}/5
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </p>
                          </div>
                          <div class="col-xs-6 col-md-8 info-wrapper">
                              <b>{{ local.name }}</b>
                              <p>
                                  {{ local.description|linebreaksbr }}
                              </p>
                              <p class="brief-text bottom">
                                  {% if local.comment_set.count == 0 or not local.comment_set %} {% trans "No opinions" %}
                                      {% trans "Write yours" %} - <a href="{% url 'comment_new' pk=local.pk %}">{% trans "Comment" %}</a>
                                  {% endif %}
                                  {% if local.comment_set.count == 1 %}
                                    <a href="{% url 'comment_list' pk=local.pk %}">{% trans "1 comment" %}</a> - <a href="{% url 'comment_new' pk=local.pk %}">{% trans "Comment" %}</a>
                                  {% endif %}
                                  {% if local.comment_set.count > 1 %}
                                    <a href="{% url 'comment_list' pk=local.pk %}">{{ local.comment_set.count }} {% trans "comments" %}</a>   {% if perms.bocatapp.customer %}- <a href="{% url 'comment_new' pk=local.pk %}">{% trans "Comment" %}</a>  {% endif %}
                                  {% endif %}
                              </p>
                          </div>
                          <div class="col-md-2 col-xs-12 buttons-wrapper text-center">
                              <button onclick="location.replace('{% url 'menu_list' pk=local.pk %}');" class="form-control">Menu</button>
                              <p class="brief-text">
                                  TODA LA SEMANA · 9-14:30
                              </p>
                          </div>
                      </div>
                  </div>
                  {%endfor%}
              </div>
          </div>
      </div>
    </div>
  </div>

 {%endblock%}
