{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Locals" %}{% endblock %}

{% block content %}

    <div class="container">
        <h1>{% trans "Locals" %}</h1>
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <button type="button" class="btn btn-success col-xs-12"
                        onclick="location.replace('{% url 'seller.views.local_new' %}')" style="margin-bottom: 15px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "New local" %}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if locals %}
                    {% for local in locals %}
                        <div class="item-search well white">
                            <div class="row">
                                <div class="col-xs-6 col-md-2 avatar-wrapper text-center">
                                    {% if local.photo %}
                                        <img alt="" height="100px" width="100px" class="img-circle center-block"
                                             src="{{ local.photo }}">
                                    {% else %}
                                        <img height="100px" width="100px" class="img-circle center-block"
                                             alt="{% trans "Profile image" %}" src="{% static "images/No_image_available.png" %}"
                                             >
                                    {% endif %}
                                    <p class="stars">
                                        {{ local.avg_rating }}/5
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <div class="col-xs-6 col-md-8 info-wrapper">
                                    <b>{{ local.name }}</b>
                                    <p>
                                        {{ local.description|linebreaksbr }}
                                    </p>
                                    <p class="brief-text bottom">
                                        <span class="glyphicon glyphicon-comment"></span> 
                                        {% if local.comment_set.count == 0 or not local.comment_set %} {% trans "No opinions" %}.
                                            {% if perms.bocatapp.customer %}
                                            {% trans "Write yours" %} - <a href="{% url 'comment_new' pk=local.pk %}">{% trans "Comment" %}</a>
                                            {% endif %}
                                        {% endif %}
                                        {% if local.comment_set.count == 1 %}
                                          <a href="{% url 'comment_list' pk=local.pk %}">{% trans "1 comment" %}</a>{% if perms.bocatapp.customer %} -  <a href="{% url 'comment_new' pk=local.pk %}">{% trans "Comment" %}</a> {% endif %}
                                        {% endif %}
                                        {% if local.comment_set.count > 1 %}
                                          <a href="{% url 'comment_list' pk=local.pk %}">{{ local.comment_set.count }} {% trans "comments" %}</a>{% if perms.bocatapp.customer %} - <a href="{% url 'comment_new' pk=local.pk %}">{% trans "Comment" %}</a> {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-md-2 col-xs-12 buttons-wrapper text-center">
                                    {% if perms.bocatapp.seller and request.user.id == local.seller.pk %}
                                  <ul class="nav navbar-nav">

                                        <button  onclick="location.replace('{% url 'local_orders' pk=local.pk %}');"
                                                class="form-control text-left btn btn-primary"><i class="fa fa-tasks"></i> {% trans "Manage orders" %}
                                        </button>
                                        <button onclick="location.replace('{% url 'local_charts' pk=local.pk %}');"
                                                class="form-control text-left btn btn-warning"><i class="fa fa-pie-chart"></i> {% trans "Statistics" %}
                                        </button>
                                        <div class="btn-group btn-block">
                                        <li class="dropdown">
                                          <button href="#" class="dropdown-toggle form-control text-left btn-block btn-info" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> {% trans "Configuration" %} </button>
                                          <ul class="dropdown-menu">
                                            <li><a href='{% url 'local_edit' pk=local.pk %}'>{% trans "Edit local" %}</a></li>
                                            <li><a href='{% url 'menu_list' pk=local.pk %}'>{% trans "Menu" %}</a></li>
                                            <li><a href='{% url 'category_list' pk=local.pk %}'>{% trans "Categories" %}</a></li>
                                            <li><a href='{% url 'product_new' pk=local.pk %}'>{% trans "New product" %}</a></li>
                                            <!--
                                            <li><a href='{% url 'edit_pack' local_pk=local.pk %}'>Nuevo Pack</a></li>
                                            <li><a href='{% url 'local_packs' local_pk=local.pk %}'>Packs</a></li>
                                            -->
                                          </ul>
                                        </li>
                                        </div>

                                      </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2><span class="glyphicon glyphicon-exclamation-sign"> </span> {% trans "There is no locals yet" %}</h2>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
