{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% bootstrap_messages %}
{% block title %}Locales{%endblock%}

{% block content %}
<div class="container">
 {% if form.instance.pk == None %}
  <h1>Crear Local</h1>
{% endif %}
{% if form.instance.pk != None %}
    <h1>Editar Local</h1>
{% endif %}
  <form method="POST" class="local-form">{% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <a href="{% url 'locals_by_seller'%}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Atrás</a>
        <button type="submit"  class="btn btn-primary">Guardar</button>
      {% endbuttons %}
  </form>


</div>

 {%endblock%}
