{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% bootstrap_messages %}
{% block title %}Locales{% endblock %}

{% block content %}
    <div class="container">
        <h1>Crear local</h1>
        <form method="POST" class="local-form">{% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button onclick="location.replace('{% url 'locals_by_seller' pk=request.user.id %}');"
                      class="btn btn"  ><i class="fa fa-arrow-left"></i> Volver
                </button>
            {% endbuttons %}

        </form>

    </div>

{% endblock %}
