{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Locales{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ local.name }}</h1>


        <div class="col-xs-12 col-md-8 jumbotron">
            <img height="120px" width="120px" class="img-circle center-block" alt="foto de perfil"
                 src=" {{ local.photo }} " alt="Profile image"><br/><br/>

            <p>
                {{ local.description|linebreaksbr }}
            </p>
            <p class="brief-text bottom">

                Direccii&oacute;n: {{ local.address }} <br/>
                Tel&eacute;fono: {{ local.phone }} <br/>
            </p>


        <a href="{% url 'menu_list' pk=local.pk %}"> Ver carta</a>
        <hr/>
        {% if perms.bocatapp.seller and local.seller == request.user %}
            <a href="{% url 'local_edit' pk=local.pk %}"> Editar</a>
            <hr/>
            <a href="{% url 'category_list' pk=local.pk %}"> Ver categorias</a>

            <hr/>
            <a href="{% url 'product_new' pk=local.pk %}"> Nuevo producto</a>
            <hr/>
            <a href="{% url 'category_new' pk=local.pk %}"> Nueva categoria</a>
            <hr/>
            <a href="{% url 'edit_pack' local_pk=local.pk %}"> Nuevo pack</a>
            <hr/>
        {% endif %}
        <a href="{% url 'packs_all' %}"> Packs</a>
    </div></div>


{% endblock %}
