{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{% bootstrap_messages %}
{% block title %}{% trans "Locals" %}{%endblock%}

{% block content %}
<div class="container">
 {% if form.instance.pk == None %}
  <h1>{% trans "Create local" %}</h1>
{% endif %}
{% if form.instance.pk != None %}
    <h1>{% trans "Edit local" %}</h1>
{% endif %}
  <form method="POST" class="local-form">{% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <a href="{% url 'locals_by_seller'%}" class="btn btn-default"><i class="fa fa-arrow-left"></i> {% trans "Back" %}</a>
        <button type="submit"  class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {% trans "Save" %}</button>
      {% endbuttons %}
  </form>


</div>

 {%endblock%}
