{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Locales{%endblock%}

{% block content %}
  <div class="container">
    <h1>Locales</h1>
    {% for local in locals %}
        <div>
            <h3><a href="{% url 'seller.views.local_detail' pk=local.pk %}">{{ local.name }}</a></h3>
            <p>{{ local.description|linebreaksbr }}</p>
            {% if perms.bocatapp.seller and request.user.id = local.seller.pk %}
                <a href="{% url 'local_orders' pk=local.pk %}"> Gestionar pedidos </a>
            {% endif %}
        </div>
    {% endfor %}
  </div>

 {%endblock%}
