{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{local.name}} - Carta {%endblock%}
{% block content %}
<div class="container">
   <h2>Carta de {{local.name}}</h2>
   <br/>
    <form id="search_form" method="GET" action="{% url 'search_product' local_id=local.id %}">
    <div class="input-group stylish-input-group" >
      <input name="search_input" type="text" class="form-control"  placeholder="Buscar">
      <span class="input-group-addon">
      <button id="search_button" type="submit">
      <span class="glyphicon glyphicon-search"></span>
      </button>
      </span>
    </div>
    </form>

   <br/>
   {% for c in categories %}
   <button class="accordion">{{ c.name }} <i class="fa fa-chevron-down"></i></button>
   <div class="panel">
      <div class="row" style="padding-bottom: 1em">
         <div class="col-xs-3">
            <h4><b style="font-size: 0.85em;"><u>Nombre</u></b></h4>
         </div>
         <div class="col-xs-3">
            <h4><b style="font-size: 0.85em;"><u>Ingrs.</u></b></h4>
         </div>
         <div class="col-xs-3">
            <h4><b style="font-size: 0.85em;"><u>Precio</u></b></h4>
         </div>
         <div class="col-xs-3">
            <h4><b style="font-size: 0.85em;"><u>Añadir</u></b></h4>
         </div>
      </div>
      {% for p in c.product_set.all %}
      <div class="row" style="padding-bottom: 1em">
         <div class="col-xs-3">{{ p.name }}</div>
         <div class="col-xs-3">
            <p style="font-size: 0.85em;">{{ p.ingredients }}</p>
         </div>
         <div class="col-xs-3">{{ p.price }} €</div>
         <div class="col-xs-3">
            <a class="btn btn-default" href="{% url 'add_shoppingcart' pk=p.id%}">
            <i class="fa fa-cart-plus fa-lg"></i> Añadir</a>
         </div>
      </div>
      <hr/>
      {% endfor %}
   </div>
   {% endfor %}
</div>
<script>
   var acc = document.getElementsByClassName("accordion");
   var i;
   
   for (i = 0; i < acc.length; i++) {
     acc[i].onclick = function() {
       this.classList.toggle("active");
       var panel = this.nextElementSibling;
       if (panel.style.maxHeight){
         panel.style.maxHeight = null;
       } else {
         panel.style.maxHeight = panel.scrollHeight + "px";
       }
     }
   }


</script>
{%endblock%}

