{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{local.name}} - Carta {%endblock%}

{% block content %}
      <div class="container">
        <h2>{{local.name}}</h2>
         <div class="table-responsive">
            <table id="menu" class="table table-striped table-hover table-menu">
                <thead>
                    <tr>
                        <th class="no-sort"></th>
                        <th class="no-sort">Nombre</th>
                        <th>Precio</th>
                        {% if perms.bocatapp.customer %}
                        <th class="no-sort">Añadir</th>
                        {% endif %}
{#                        <th class="no-sort">Ingredientes</th>#}

                    </tr>
                </thead>
                <tbody>
                    {% for p in productos %}
                    <tr>
                        <td style="text-align: center; width:150px"><img src="{{ p.picture }}" class="img-circle" style="max-height: 150px"/></td>
                        <td> {{p.name}} </td>
                        <td> {{p.price}} €</td>
                        {% if perms.bocatapp.customer %}
                        <td>
                            <a href="{% url 'add_shoppingcart' pk=p.pk%}" class="button">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                        </td>
                        {% endif %}
{#                        <td> {{ p.ingredients }}</td>#}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           </div>
        </div>
{%endblock%}