{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{{ local.name }} - Menu{% endblock %}
{% block content %}
    <div class="container">
        <h2>{% trans "Menu of" %} {{ local.name }}</h2>
        {% if perms.bocatapp.seller %}
        <div class="row" style="padding-right: 1em">
            <div class ="text-right">
                <a class="btn btn-success" href="{% url 'product_new' pk=local.pk %}">
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> {% trans "New product" %} </a>
                </a>
            </div>
        </br>
        </div>
        {% endif %}
        <form id="search_form" method="GET" action="{% url 'search_product' local_id=local.id %}">
            <div class="input-group stylish-input-group" style="z-index: 0">
                <input name="search_input" type="text" class="form-control" placeholder="{% trans "Search" %}">
                <span class="input-group-addon">
      <button id="search_button" type="submit">
      <span class="glyphicon glyphicon-search"></span>
      </button>
      </span>
            </div>
        </form>

        <br/>
        {% for k,v in categories.items %}
            <button class="accordion">{{ k.name }} <i class="fa fa-chevron-down"></i></button>
            <div class="carta">
                <div class="row" style="padding-bottom: 1em">
                    <div class="col-xs-3">
                        <h4><b style="font-size: 0.85em;"><u>{% trans "Name" %}</u></b></h4>
                    </div>
                    <div class="col-xs-3">
                        <h4><b style="font-size: 0.85em;"><u>Ingrs.</u></b></h4>
                    </div>
                    <div class="col-xs-3">
                        <h4><b style="font-size: 0.85em;"><u>{% trans "Price" %}</u></b></h4>
                    </div>
                    {% if perms.bocatapp.customer or user.is_anonymous %}
                        <div class="col-xs-3">
                            <h4><b style="font-size: 0.85em;"><u>{% trans "Add" %}</u></b></h4>
                        </div>
                    {% endif %}
                </div>
                {% for p in v %}
                    <div class="row" style="padding-bottom: 1em">
                        <div class="col-xs-3">{{ p.name }}</div>
                        <div class="col-xs-3">
                            <p style="font-size: 0.85em;">{{ p.ingredients }}</p>
                        </div>
                        <div class="col-xs-3">{{ p.price }} €</div>
                        {% if perms.bocatapp.customer or user.is_anonymous %}
                            <div class="col-xs-3">
                                <input type="hidden" value="{{ p.id }}" id="productId"/>
                                <div class="col-xs-6 col-md-4 hidden-xs">
                                  <input type="number" value="1" id="quantity" min="1" max="10" class="form-control"/>
                                </div>
                                <a class="btn btn-success" href="#" id="addsc">
                                     <i class="fa fa-cart-plus fa-lg"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <hr/>
                {% endfor %}
            </div>
        {% endfor %}
    <br>

        {% if perms.bocatapp.seller %}
            <div class="row">
                    <a class="col-sm-2 text-left" href="{% url 'category_list' pk=local.pk %}">
                        <button type="button" class="btn btn-default" style="margin-bottom: 15px">
                             <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {% trans "Back" %}
                        </button>
                     </a>
            </div>
            {% else %}
            <div class="row">
                    <a class="col-sm-2 text-left" href="{% url 'local_search2' pk=local.pk%}">
                        <button type="button" class="btn btn-default" style="margin-bottom: 15px">
                             <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {% trans "Back" %}
                        </button>
                     </a>
            </div>
        {% endif %}
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            }
        }


    </script>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $('.carta').on('click', '#addsc', function () {
            var td = $(this).parent('.col-xs-3');
            var quantity = td.find('input#quantity').val();
            var id = td.children('input#productId').val();
            var cartId = getIdCart();

            if(!isNaN(quantity) && quantity > 0 && quantity <= 10){

                $.ajax({
                    url: '{% url "add_product_cart" %}',
                    data: {
                        'idCart': cartId,
                        'idProduct': id,
                        'quantity': quantity
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.add != 'ok') {
                            var m = $("<div class='alert alert-danger fade in alert-dismissible'><button type='button' onclick='#' class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span></button> <strong></strong>" + data.message + "</div>").hide();
                        } else {
                            var m = $("<div class='alert alert-success fade in alert-dismissible'><button type='button' onclick='#' class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span></button> <strong></strong>" + data.message + "</div>").hide();
                        }

                        $('#message-list').append(m);
                        m.fadeIn(500);

                        setTimeout(function() {
                            m.fadeOut(500, function() {
                                m.remove();
                            });
                        }, 3000);

                        UpdateBadge();
                    }
                });
            }else{
                var m = $("<div class='alert alert-danger fade in alert-dismissible'><button type='button' onclick='#' class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span></button> <strong></strong>{% trans "The quantity entered must be a number between 1 and 10." %}</div>").hide();

                $('#message-list').append(m);
                m.fadeIn(500);

                setTimeout(function() {
                    m.fadeOut(500, function() {
                        m.remove();
                    });
                }, 3000);
            }
        });
    </script>
{% endblock %}
