{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% bootstrap_messages %}
{% block title %}Editar producto{%endblock%}

{% block content%}
<div class="container">
  <h1>Editar producto</h1>
  <form method="POST" class="local-form"> {%csrf_token%}
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">Guardar</button>
          <a class="col-sm-2 text-left" href="{% url 'seller.views.local_detail' pk=pk %}">
              <button type="button" class="btn btn-default" style="margin-bottom: 15px">
                  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Atr&aacute;s
              </button>
          </a>
      {% endbuttons %}
  </form>
</div>
{%endblock%}
