{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Bocatapp - Cookies{% endblock %}

{% block content %}

    <div class="container">

    <h1>Politica de cookies</h1>
    <p>Una cookie (o galleta informática) es una pequeña información enviada por un sitio web y almacenada en el navegador del usuario, de manera que el sitio web puede consultar la actividad previa del mismo.</p>
    <p>El Usuario acepta expresamente, por la utilización de este Site, el tratamiento de la información recabada en la forma y con los fines anteriormente mencionados.</p>
    <h3>¿Que tipos de cookies utiliza BocatApp?</h3>
    <p>Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, , realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación.</p>
    <p>Cookies de personalización: Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.</p>
    <p>Cookies de tercero: La Web de www.bocatapp.com puede utilizar servicios de terceros que, por cuenta de www.bocatapp.com, recopilaran información con fines estadísticos, de uso del Site por parte del usuario y para la prestacion de otros servicios relacionados con la actividad del Website y otros servicios de Internet.</p>
    <p>En particular Bocatapp utiliza Google Analytics, un servicio analítico de webs prestado por Google, Inc.Para la prestación de estos servicios,estos utilizan cookies que recopilan la información, incluida la dirección IP del usuario, que será transmitida, tratada y almacenada por Google en los términos fijados en la Web Google.com. Incluyendo la posible transmisión de dicha información a terceros por razones de exigencia legal o cuando dichos terceros procesen la información por cuenta de Google.</p>
    <p>Para mas informacion visite el siguiente <a href="http://politicadecookies.com/">enlace</a></p>
    </div>

{% endblock %}