{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %} Bocatapp - Cookies{% endblock %}

{% block content %}

    <div class="container">

    <h1>{% trans "Cookies policy" %}</h1>
    <p>{% trans "A cookie is a little information sent by a website and stored in the user's browser, so that the website can check the previous activity of the same." %}</p>
    <p>{% trans "The User expressly accepts, for the use of this Site, the treatment of the information collected in the form and for the aforementioned purposes." %}</p>
    <h3>{% trans "What types of cookies does BocatApp use?" %}</h3>
    <p>{% trans "Technical Cookies: These are the ones that allow the user to navigate through a web page, platform or application and the use of the different options or services that exist in it, such as controlling traffic and communication of data, identify the Session, access restricted access parts, make the application for registration or participation in an event, use security features during navigation." %}</p>
    <p>{% trans "Personalization Cookies: They are those that allow the user to access the service with some general characteristics predefined according to a series of criteria in the user's terminal such as the language, the type of browser through which accesses the service , The regional settings from where you access the service, etc." %}</p>
    <p>{% trans "Third Party Cookies: The Web of www.bocatapp.com may use third party services that, on behalf of www.bocatapp.com, collect information for statistical purposes, use of the Site by the user and for the provision of other related services With the activity of the Website and other Internet services." %}</p>
    <p>{% trans "In particular, Bocatapp uses Google Analytics, a web analytics service provided by Google, Inc. In order to provide these services, Bocatapp uses cookies that collect information, including the user's IP address, which will be transmitted, processed and stored by Google in The terms set in the Web Google.com. Including the possible transmission of such information to third parties for reasons of legal exigency or when said third parties process the information for Google account." %}</p>
    <p>{% trans "If you need more information, follow the following " %} <a href="http://politicadecookies.com/">{% trans "link" %}</a></p>
    </div>

{% endblock %}