{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Bocatapp - FAQ{% endblock %}

{% block content %}
    <div class="container">
        <h1>FAQs</h1>
        <div class="panel-group" id="faq-container">
            <div class="faqHeader">{% trans "General questions" %}</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">{% trans "What is Bocatapp?" %} </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% trans "BocatApp is a platform specialized in the purchase and sale of food in establishments near to: business areas, university campuses or institutes." %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">{% trans "Do I need to create an account?" %}</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% trans "The necessary accounts to request orders and to manage your business. If you just want to check the establishments in your zip code or your letters you do not need to create an account." %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree">{% trans "What is the currency used in all transactions?" %}</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% trans "All the prices are in " %}<strong>EUR</strong>.
                    </div>
                </div>
            </div>

            <div class="faqHeader">{% trans "Sellers" %}</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFour">{% trans "Who can sell products?" %}</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% trans "Any business buying and selling food that wants to improve its management and facilitate online reservations to its customers." %}
                        </br>{% trans "Do you want to manage your business with us?" %}<a
                            href="{% url 'seller_register' %}"><b> {% trans "Register!" %}</b></a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFive">{% trans "Why sell from BocatApp?" %}</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% trans "The main advantage that you will have if you sell your products from BocatApp is to facilitate the management of orders, since you can know the moment of collection of such orders." %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseSix">{% trans "What if a customer does not pick up your order?" %}</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% trans "At BocatApp we want to protect our businesses therefore, customers of their establishments must make the payment at the time of purchase. If the customer does not collect the order, the establishment will have the sale covered and will not have losses." %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseEight">{% trans "How do I receive sales payments through BocatApp?" %}</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% trans "Payments will be made on a weekly basis. At the end of the week the amount accumulated will be transferred to the bank account of your business. The minimum to be transferred is" %} <strong>50 EUR</strong>.
                    </div>
                </div>
            </div>

            <div class="faqHeader">{% trans "Customers" %}</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseNine">{% trans "What benefits do I have in front of placing the order in the own premises?" %}</a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% trans "The main advantage will be your comfort. As a user you can place an order at any time and from anywhere, choose the day and time of collection and you will not have to wait queues or worry about if you carry the money." %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTen">{% trans "I am allergic to certain ingredients, how can I find out the content of the products?" %}</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% trans "In the menu of each establishment the products are listed next to the list of allergens of the same." %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseEleven">{% trans "In the same order, can I introduce products from different locals?" %}</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% trans "No, with the current system it is necessary to make the orders of each premises independently." %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwelve">{% trans "Can I cancel a order?" %}</a>
                    </h4>
                </div>
                <div id="collapseTwelve" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% trans "Yes, you can cancel the order until 2h before delivery." %}
                    </div>
                </div>
            </div>
            <div style="margin-top:25px;">
                {% trans "if you need more information, contact with" %}<a href="mailto:info@bocatapp.com">info@bocatapp.com</a>.
            </div>
        </div>
    </div>
{% endblock %}
