{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Bocatapp - {% trans "Home" %}{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid home-hero" style="background-image: url({% static "images/sandwich.jpg" %});">
      <div class="container" style="text-align: center">
        <h1 class="display-3">{% trans "Skip the queue in a bite"%}</h1>
        <p class="lead">{% trans "Make your order. Enjoy without waits"%}</p>
      </div>
      <div class="jumbotron jumbotron-fluid" style="background-color: rgba(0,0,0,.3); margin-top: 3%">
        <div class="container" style="text-align: center">
          <form class="form-inline" action ="{% url "search" %}" method="GET">
            <p class="label-postcode">
              {% trans "Insert a ZIP code to find places near you"%}
            </p>
    				<div class ="form-group">
    					<input type="text" class="form-control text-center" value="41012" name="postcode" id="cp" required>
    				</div>
    				<button type="submit" class="form-control button"><span class="glyphicon glyphicon-search"></span> {% trans "Search" %}</button>
    			</form>
          <br />
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'es' %}
                <a href="{% static "bocatapp.apk" %}" target="_blank"><img src="{% static "images/gplay_prox.png" %}" height="75" /></a>
            {% else %}
                <a href="{% static "bocatapp.apk" %}" target="_blank"><img src="{% static "images/comingsoon.png" %}" height="75" /></a>
            {% endif %}

        </div>
      </div>
    </div>

    <!-- <section class="container">
        <h1>Welcome to Bocatapp!</h1>
        <br/>
        <div class="contact-main jumbotron">
            <h2>Locales</h2>
            <ul>

                    {% if perms.bocatapp.customer %}
                    <li><a href="{% url 'orders_by_customer' %}">Mis pedidos</a>
                    {% endif %}
                    <li><a href='seller/local'>Listado</a></li>


                {% if perms.bocatapp.seller %}
                    <li><a href='seller/local/new'>Insertar</a></li>
                {% endif %}

        </ul>

        <h2>Tarjetas de credito</h2>
        <ul>
            <li><a href='administration/creditcard/new'>Registrar tarjeta</a></li>
            <li><a href='administration/creditcard'>Listado</a></li>


            </ul>
        </div>
                {% if perms.bocatapp.seller %}
        <div class="contact-main jumbotron">
            <h2>Productos</h2>
            <ul>
                <li><a href="seller/category/new">Registrar categoria</a></li>
                <li><a href='seller/product/new'>Registrar producto</a></li>
            </ul>
        </div>
                {% endif %}
        <div class="contact-main jumbotron">
            <h2>Usuarios</h2>
            <ul>
                <li><a href='customer/register'>Registrar Customer</a></li>
                <li><a href='seller/register'>Registrar Seller</a></li>
            </ul>
        </div>

    </section> -->
{% endblock %}
