{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

    <section class="container">
        <br>
        <div class="contact-main well white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 text-center">
                        {% if user.avatar %}
                            <img alt="{{ user.username }}" src="{{ user.avatar }}" class="img-thumbnail"/>
                        {% else %}
                            <img alt="{{ user.username }}"
                                 src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"
                                 class="img-thumbnail"/>
                        {% endif %}

                    </div>
                    <div class="col-md-4">
                        <h3>
                            <i class="fa fa-user-circle" aria-hidden="true"></i> {{ user.username }}
                        </h3>
                        <h3>
                            <i class="fa fa-user" aria-hidden="true"></i> {{ user.first_name }}
                        </h3>
                        <h3>
                            <i class="fa fa-user" aria-hidden="true"></i> {{ user.last_name }}
                        </h3>
                    </div>
                    <div class="col-md-4">
                        {% if user.birth_date != null %}
                        <h3>
                            <i class="fa fa-birthday-cake" aria-hidden="true"></i> {{ user.birth_date }}
                        </h3>
                        {% endif %}
                        <h3>
                            <i class="fa fa-envelope" aria-hidden="true"></i> {{ user.email }}
                        </h3>
                        <h3>
                            <i class="fa fa-phone" aria-hidden="true"></i> {{ user.phone }}
                        </h3>
                        <br/>
                        <br/>
                    </div>
                    <div class="col-md-4 text-left">
                        <div class="previous">
                            <button onclick="location.replace('{% url 'edit_profile' %}');"
                                    class="form-control">Editar perfil
                            </button>


                            <br/>
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <div class="next">
                            <button onclick="location.replace('{% url 'edit_password' %}');"
                                    class="form-control">Editar contraseña
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

