{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Bocatapp - Términos y condiciones{% endblock %}

{% block content %}

    <div class="container">

    <h1>Términos y condiciones</h1>

    <p>El acceso y/o uso de este portal atribuye la condición de usuario, que acepta, desde dicho acceso y/o uso, las Condiciones Generales de Uso aquí reflejadas. Las citadas Condiciones serán de aplicación independientemente de las Condiciones Generales de Contratación que en su caso resulten de obligado cumplimiento.</p>
    <p>La empresa se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del portal.En todo caso, se recomienda que consulte periódicamente los presentes términos de uso del portal, ya que pueden ser modificados.</p>
    <p>El usuario deberá respetar en todo momento los términos y condiciones establecidos en las presentes condiciones generales de uso del portal. De forma expresa el usuario manifiesta que utilizará el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.</p>
    <p>El Portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de la Empresa. Toda responsabilidad será del tercero ya sea proveedor o colaborador.</p>
    <p>Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de propiedad intelectual o industrial, que sean accesibles en el portal corresponden exclusivamente a la empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos.</p>

    <h2>Otras condiciones</h2>

    <p>BocatApp como titular a todos los efectos de la presente página web y responsable de todos los ficheros automatizados derivados de la misma garantiza el integro y pleno cumplimiento de las obligaciones dispuestas por la Ley Orgánica de Protección de Datos.</p>
    <p>BocatApp informa que el hecho de utilizar algún formulario implica que el usuario expresa su consentimiento para que los datos suministrados queden incorporados a un fichero automatizado. </p>
    <p> Los usuarios responderán, en cualquier caso, de la veracidad de los datos facilitados y se hacen responsables de comunicar a BocatApp cualquier modificación en los mismos, quedando BocatApp exento de cualquier tipo de responsabilidad a este respecto.</p>
    <p>Los usuarios tienen reconocidos y podrán ejercitar los derechos de acceso,rectificación, cancelación y oposición, previstos por la Ley, dirigiendo un correo electrónico al Responsable del Fichero: BocatApp, indicando su nombre y apellidos, e incluyendo como asunto del correo "Derechos ARCO".</p>
    <p>BocatApp,Inc en virtud de la Ley de Servicios de la Sociedad de la Información , en ningún caso remitirá publicidad y comunicaciones con fines de venta u otras de naturaleza comercial a los usuarios sin que medie su previa solicitud o consentimiento. Asimismo tampoco remitirá mensajes no solicitados ni consentidos previamenente.</p>
    <p>En cumplimiento con la Ley de Servicios de la Sociedad de la Información, se reflejan los siguientes datos : la empresa titular de esta web es BocatApp con número CIF:X-0000000,debidamente inscrita en el Registro Mercantil.</p>

    <h2>Politica de devoluciones</h2>

    <p>Para realizar una cancelación sólo se podrá hacer de los pedidos que estén pendientes de hacer, es decir, que no hayan pasado al apartado de hechos.</p>


    <p>Habrá que cumplir una serie de criterios para cancelar el pedido. No se puede cancelar un pedido en el que la fecha y hora de recogida ya haya pasado.</p>

        <p>&bull; El pedido debe estar en la sección pendientes.</p>
        <p>&bull; El usuario tiene que confirmar que esta de acuerdo en cancelar el pedido.</p>
        <p>&bull; El importe se devolverá siempre como saldo en BocatApp.</p>
        <p>&bull; Si el pedido se cancela con tres o más horas de antelación se le devolverá el 100% del importe.</p>
        <p>&bull; Si el pedido se cancela con 2 o 2:59 horas de antelación se le devolverá el 92,5% del importe.</p>
        <p>&bull; Si el pedido se cancela con 1 o 1:59 horas de antelación se le devolverá el 50% del importe.</p>
        <p>&bull; Si el pedido se cancela durante los últimos 59 minutos no se le devolverá importe ninguno.</p>

    </div>

{% endblock %}