{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %} Bocatapp - {% trans "Terms and Conditions" %}{% endblock %}

{% block content %}

    <div class="container">

    <h1>{% trans "Terms and Conditions" %}</h1>

    <p>{% trans "The access and / or use of this portal attributes the condition of user, who accepts, from said access and / or use, the General Conditions of Use reflected here. The aforementioned Conditions will apply independently of the General Conditions of Contract that in their case are obligatory." %}</p>
    <p>{% trans "The company reserves the right to modify at any time the general conditions of use of the portal. In any case, it is recommended that you periodically consult these terms of use of the portal, as they can be modified." %}</p>
    <p>{% trans "The user must at all times respect the terms and conditions established in these general conditions of use of the portal. The user expressly states that he will diligently use the portal and assume any responsibility that may arise from breach of the rules." %}</p>
    <p>{% trans "The Portal excludes any liability for damages that may be due to information and / or services provided or supplied by third parties other than the Company. All responsibility will be from the third party, either supplier or collaborator." %}</p>
    <p>{% trans "All contents, trademarks, logos, drawings, documentation, computer programs or any other element susceptible of protection by the intellectual or industrial property laws, that are accessible in the portal correspond exclusively to the company or its legitimate owners and are expressly reserved all The rights over them." %}</p>

    <h2>{% trans "Other conditions" %}</h2>

    <p>{% trans "BocatApp as the holder for all purposes of this website and responsible for all automated files derived therefrom ensures full and complete compliance with the obligations set forth by the Organic Law of Data Protection." %}</p>
    <p>{% trans "BocatApp informs that the use of a form implies that the user expresses his consent for the data supplied to be incorporated into an automated file." %}</p>
    <p>{% trans "The users will respond, in any case, of the veracity of the provided data and are responsible for communicating to BocatApp any modification in the same, being BocatApp exempt of any type of responsibility in this respect." %}</p>
    <p>{% trans "The users have recognized and will be able to exercise the rights of access, rectification, cancellation and opposition, anticipated by the Law, directing an email to the Responsible of the File: BocatApp, indicating their name and surnames, and including as subject of the email 'ARCO Rights' ." %}</p>
    <p>{% trans "BocatApp, Inc under the Information Society Services Law, in no case will send advertising and communications for sale or other commercial purposes to users without their prior request or consent. Neither will it send unsolicited messages or consents previously." %}</p>
    <p>{% trans "In compliance with the Law on Services of the Information Society, the following data are reflected: the company that owns this website is BocatApp with CIF number: X-0000000, duly registered in the Mercantile Register." %}</p>

    <h2>{% trans "Return Policy" %}</h2>

    <p>{% trans "To make a cancellation can only be made of orders that are pending to do, ie, have not gone to the facts section." %}</p>


    <p>{% trans "A number of criteria must be met to cancel the order. You can not cancel an order in which the date and time of collection has already passed." %}</p>

        <p>&bull; {% trans "The order must be in the pending section." %}</p>
        <p>&bull; {% trans "The user has to confirm that he / she agrees to cancel the order." %}</p>
        <p>&bull; {% trans "The amount will always be returned as a balance in BocatApp." %}</p>
        <p>&bull; {% trans "If the order is canceled with three or more hours in advance will be refunded 100%% of the amount." %}</p>
        <p>&bull; {% trans "If the order is canceled with 2 or 2:59 hours in advance will be refunded 92.5%% of the amount." %}</p>
        <p>&bull; {% trans "If the order is canceled with 1 or 1:59 hours in advance will be refunded 50%% of the amount." %}</p>
        <p>&bull; {% trans "If the order is canceled during the last 59 minutes no amount will be refunded." %}</p>

    </div>

{% endblock %}