{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block navbar %}
{% endblock %}
{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% if validlink %}

            <div class="container">
                <h1>Nueva contraseña</h1>
                <div class="contact-main well white">
                    <form method="post">
                        {% csrf_token %}

                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña:</label>
                        {{ form.new_password1 }}
                        <br>
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Repita la contraseña:</label>
                        {{ form.new_password2 }}

                        <br>
                        <br>
                        <a href="{% url 'home'%}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Atrás</a>
                        <button type="submit" class="btn btn-default"><i class="fa fa-check"></i> Guardar
                        </button>

                    </form>
                </div>
            </div>
    {% else %}
        <h3 class="text-center">Enlace invalido. Este enlace ya ha sido utilizado</h3>
    {% endif %}


{% endblock %}