{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block navbar %}
{% endblock %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="container">
        <h1>Recuperar contraseña</h1>

        <div class="contact-main well white">
            <form method="post">
                {%  csrf_token %}
                <div class="form-group {{form.email.errors|yesno:"has-error," }}">
                  <label for="id_email">Correo: </label>
                  <input type="text" class="form-control" id="email" name="email">
                  {% if form.email.errors %} <span id="help-block-email" class="help-block">{{form.email.errors}}</span>{%endif%}
                </div>

                <a href="{% url 'password_reset'%}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Atrás</a>
                <button type="submit" class="btn btn-default"><i class="fa fa-check"></i> Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}
