{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ type }}{% endblock %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="container">
        <h1>  {{ type }}</h1>

        <div class="contact-main well white">
            <form method="post">
                {% csrf_token %}
                {% if error_messages %}
                    <div class="alert alert-danger">
                        {% for message in error_messages %}
                            <strong>{{ message }}</strong><br>
                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in password_form %}
                    <div class="form-group">
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <br><span style="color: darkred">{{ error }}</span >
                            {% endfor %}
                        {% endif %}

                    </div>
                {% endfor %}
                <br>
                <a href="{% url 'password_reset'%}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Atrás</a>
                <button type="submit" class="btn btn-default"><i class="fa fa-check"></i> Guardar
                </button>



            </form>
        </div>
    </div>

{% endblock %}

