{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Register{% endblock %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="container">

        <h1>  {{ type }}</h1>

        <div class="contact-main well white">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}<br>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ field }}

                    </div>
                {% endfor %}
                <br>
                <button type="submit" class="form-control">register</button>
            </form>
        </div>
    </div>

{% endblock %}

