{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_messages %}
{% block title %}Registro - Bocatapp.com{% endblock %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="container">

        <h1>  {{ type }}</h1>

        <div class="contact-main well white">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="form-control">Enviar</button>
                {% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}
