{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ type }}{% endblock %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="container">
        <h1>  {{ type }}</h1>

        <div class="contact-main well white">
            <form method="post">
                {% csrf_token %}
                {% for field in user_form %}
                    <div class="form-group">
                        {{ field.label_tag }}<br>
                        {{ field }} {% if field.errors %}
                            {% for error in field.errors %}
                                <br><span style="color: darkred">{{ error }}</span >
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <br>
                <button type="submit" class="form-control">register</button>
            </form>
        </div>
    </div>

{% endblock %}

