{% load bootstrap3 %}
{% load i18n %}
{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <a class="col-sm-2 text-left" href="{% url 'seller.views.get_my_locals' %}">
                  <button type="button" class="btn btn-default" style="margin-bottom: 15px">
                      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {% trans "Cancel" %}
                  </button>
              </a>
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    {% endbuttons %}
</form>