{% load bootstrap3 %}
{% load i18n %}
{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <div class="btn-group">
            <a href="{% url 'category_list' pk=local.pk %}">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {% trans "Cancel" %}
                </button>
            </a>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {% trans "Save" %}</button>
        </div>
    {% endbuttons %}
</form>