{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Bocatapp - Log in" %}{%endblock%}

{% block content %}
<div class="container">
    <div class="row">
    <div id="centered-form" class="col-sm-4 col-sm-offset-4">
        <h2>{% trans "Log in" %}</h2>
            {% include "forms/login_form.html" %}
        <div class="bottom text-center">
            {% trans "Don't you have account yet?" %} <a href="{% url 'customer_register' %}"><b>{% trans "Register!" %}</b></a>
        </div>
    </div>
    </div>
</div>
{%endblock%}
