{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load multiply %}
{% load show_last_4 %}
{% block title %} {% trans "Payment method" %} - Bocatapp.com {% endblock %}

{% block content %}
<div class="container">
  <h2>{% trans "Checkout" %}</h2>
  <div class="row">
    <div class="col-md-8">
        <!-- CREDIT CARD FORM STARTS HERE -->
        <div class="panel panel-default credit-card-box">
            <div class="panel-heading" >
              <h3 class="panel-title" > {% trans "Payment method" %}</h3>
            </div>
            <div class="panel-body">

              {% if form.errors %}
              <div class="alert alert-danger">
              	<p>{% trans "The operation could not be performed because one or more errors have occurred." %}<!--<br />Por favor, reenvie el formulario después de hacer los siguientes cambios:</p>-->
              	<!-- <ul>
              	{% for field in form %}
              	<li>{{ field.errors|striptags }}</li>
              	{% endfor %}
              	</ul> -->
              </div>
              {% endif %}

                <form role="form" id="payment-form" method="POST" action="{% url 'do_checkout' %}">
                    {% csrf_token %}

                    <div class="row">
                      <div class="col-xs-12">
                        <h3>{% trans "Pay with:" %}</h3>
                        <ul class="list-group">
                          {%for creditcard in creditcards%}
                            <div class="radio list-group-item">
                              <label><input type="radio" name="creditcard" value="{{creditcard.id}}">{% show_last_4 creditcard.number%}</label>
                            </div>
                          {%endfor%}
                          <div class="radio list-group-item">
                            <label><input type="radio" name="creditcard" value="balance"{% if user.amount_money < shoppingcart.total_price %} disabled {%endif%}>{% trans "Balance" %}: {{user.amount_money}} € {% if user.amount_money < shoppingcart.total_price %} <span class="text-danger">{% trans "You do not have enough balance!" %}</span> {% endif %}</label>
                          </div>
                          <div class="radio list-group-item">
                            <label><input type="radio" name="creditcard" value="new" checked="true">{% trans "New credit card" %}</label>
                          </div>
                        </ul>
                      </div>
                    </div>

                    <div id="creditcard-new">
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="form-group {{form.holderName.errors|yesno:"has-error," }}">
                                  <label for="holdername">{% trans "Name" %}</label>
                                  <input
                                      type="text"
                                      class="form-control"
                                      name="holderName"
                                      value="{{form.holderName.value|default_if_none:""}}"
                                      placeholder="{% trans 'Holdername' %}"
                                      required
                                  />
                                  {% if form.holderName.errors %} <span id="help-block-holderName" class="help-block">{{form.holderName.errors}}</span>{%endif%}
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="form-group {{form.number.errors|yesno:"has-error," }}">
                                  <label for="number">{% trans "Number of credit card" %}</label>
                                  <div class="input-group">
                                      <input
                                          type="tel"
                                          class="form-control"
                                          name="number"
                                          value="{{form.number.value|default_if_none:""}}"
                                          placeholder="{% trans "Valid credit card number" %}"
                                          autocomplete="cc-number"
                                          required
                                      />
                                      <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                  </div>
                                  {% if form.number.errors %} <span id="help-block-number" class="help-block">{{form.number.errors}}</span>{%endif%}
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-7 col-md-7">
                              <div class="form-group {{form.expireMonth.errors|yesno:"has-error," }} {{form.expireYear.errors|yesno:"has-error," }}">
                                  <label for="cardExpiry"><span class="hidden-xs">{% trans "Expiration date" %}</span><span class="visible-xs-inline">EXP</span></label>
                                  <input
                                      type="tel"
                                      class="form-control"
                                      name="cardExpiry"
                                      placeholder="MM / AA"
                                      autocomplete="cc-exp"
                                      required
                                  />
                                  {% if form.expireMonth.errors %} <span id="help-block-expireMonth" class="help-block">{{form.expireMonth.errors}}</span>{%endif%}
                                  {% if form.expireYear.errors %} <span id="help-block-expireYear" class="help-block">{{form.expireYear.errors}}</span>{%endif%}
                              </div>
                          </div>
                          <div class="col-xs-5 col-md-5 pull-right">
                              <div class="form-group {{form.cvv.errors|yesno:"has-error," }} ">
                                  <label for="cvv">CVV</label>
                                  <input
                                      type="tel"
                                      class="form-control"
                                      name="cvv"
                                      placeholder="CVV"
                                      value="{{form.cvv.value|default_if_none:""}}"
                                      autocomplete="cc-csc"
                                      required
                                  />
                                  {% if form.cvv.errors %} <span id="help-block-cvv" class="help-block">{{form.cvv.errors}}</span>{%endif%}
                              </div>
                          </div>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" name="save" checked>{% trans "Yes, I would like to keep my credit card in the system" %}</label>
                      </div>
                    </div>
                    <br />
                </form>
            </div>
        </div>
        <!-- CREDIT CARD FORM ENDS HERE -->
    </div>
    <div class="col-md-4">
      <div class="well white">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
              <address>
                  <strong>{{ local.name }}</strong>
                  <br>
                  {{ local.address }}
                  <br>
                  {{ local.postalCode }}
                  <br>
                  {{ local.phone }}
              </address>
          </div>
        </div>

        <div class="text-center">
            <h3>{% trans "Order details" %}</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans "Product" %}</th>
                    <th>#</th>
                    <th class="text-center">{% trans "Price" %}</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                {%for line in shoppingcart.shoppingcartline_set.all%}
                    <tr>
                        <td class="col-md-7"><em>{{line.product.name}}</em></td>
                        <td class="col-md-1" style="text-align: center">{{ line.quantity }}</td>
                        <td class="col-md-2 text-center">{{line.product.price}}</td>
                        <td class="col-md-2 text-center">{% multiply line.quantity line.product.price %}</td>
                    </tr>
                {%endfor%}
                <tr>
                    <td>   </td>
                    <td colspan = "2" class="text-right">
                    <p>
                        <strong>Subtotal: </strong>
                    </p>
                    <p>
                        <strong>{% trans "Taxes" %} (7.5%): </strong>
                    </p>
                    <p>
                        <strong>IVA (10%): </strong>
                    </p>
                  </td>
                    <td class="text-center">
                    <p>
                        <strong>{% multiply shoppingcart.total_price 0.825%}</strong>
                    </p>
                    <p>
                        <strong>{% multiply shoppingcart.total_price 0.075%}</strong>
                    </p>
                    <p>
                        <strong>{% multiply shoppingcart.total_price 0.1%}</strong>
                    </p>
                  </td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td class="text-right"><h4><strong>Total:</strong></h4></td>
                    <td class="text-center text-danger"><h4><strong>{{shoppingcart.total_price}}€</strong></h4></td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label for="dateCheckout">{% trans "Pick up date" %}</label>
                    <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                        <input type="text" name="dateCheckout" class="form-control dateinput" data-date-format="dd/mm/yyyy" value="{{ datetime|date:"d/m/Y" }}" required>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label for="hourCheckout">{% trans "Pick up time" %}</label>
                    <input
                        type="tel"
                        class="form-control"
                        name="hourCheckout"
                        placeholder="HH:mm"
                        required
                        value="{{ datetime|date:"G:i" }}"
                    />
                </div>
            </div>
        </div>
        </form>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4 col-md-offset-8">
          <button class="savecard btn btn-success btn-lg btn-block" onclick="$('#payment-form').submit();" type="button">{% trans "Make the reservation" %}</button>
      <br>
      </div>
  </div>

    <div class="row">
        <a class="col-sm-2 text-left" href="{% url 'list_shoppingcart' pk=shoppingcart.pk%}">
            <button type="button" class="btn btn-default" style="margin-bottom: 15px">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {% trans "Back" %}
            </button>
        </a>
            </div>
      </div>
</div>

{% endblock%}
