{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_messages %}
{% block title %}Comentarios{% endblock %}

{% block content %}
    <link href="{% static "styles/stars.css" %}" rel="stylesheet">

    <div class="container" id="container_id">
        <h2>Nuevo comentario</h2>
    <hr/>

        <form method="POST" id="formComment" class="comment-form">{% csrf_token %}
            {% bootstrap_form form %}
        <div class="form-group" style="display: inline-block;">
            <label class="control-label">Valoracion: </label>
            <br/>
                    <input class="star star-5" id="star-5" type="radio" name="star"/>
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star"/>
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star"/>
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star"/>
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star" checked="checked"/>
                    <label class="star star-1" for="star-1"></label>
        </div>
        <br/>
            {% buttons %}
                <button type="submit" class="btn btn-primary" onclick="getCommentRating()">Guardar</button>
            {% endbuttons %}

        </form>

    <script>
        function getCommentRating(){
            var stars = calculaStars();
            document.getElementById("id_rating").setAttribute("value", String(stars));
        }

        function calculaStars(){
            var aux = "0";

            if(document.getElementById("star-5").checked == true)
                aux = "5";
            else if(document.getElementById("star-4").checked == true)
                aux = "4";
            else if(document.getElementById("star-3").checked == true)
                aux = "3";
            else if(document.getElementById("star-2").checked == true)
                aux = "2";
            else if(document.getElementById("star-1").checked == true)
                aux = "1";

            return aux;
        }
    </script>
    </div>
{% endblock %}
