{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}comments{% endblock %}


{% block content %}
    <link href="{% static "styles/stars.css" %}" rel="stylesheet">

    <div class="container">
        <h3>{% trans "Comments of" %} {{ local.name }}</h3>
        <hr/>
        {% if perms.bocatapp.customer %}

            <a class="col-sm-2 text-left" href="{% url 'comment_new' pk=local.pk %}">
                <button type="button" class="btn btn-primary" style="margin-bottom: 15px">
                    <span class="glyphicon glyphicon-comment"></span> {% trans "Comment" %}
                </button>
            </a>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                {% for comment in comentarios %}
                    <div class="item-search well white">
                        <div class="comment">
                            <p>{% trans "Writen by" %}: <strong>{{ comment.customer.username }}</strong></p>

                            <p>Valoracion:
                                {% for i in "x"|ljust:comment.rating %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                            <p>{{ comment.description|linebreaks }}</p>
                        </div>
                        {% if perms.bocatapp.customer %}

                            <div class="comment">
                                <a class="btn btn-danger"
                                   onclick="location.replace('{% url 'report_new' pk=comment.pk %}')"><span
                                        class="glyphicon glyphicon-remove"></span> {% trans "Report" %} </a></h3>


                            </div>
                        {% endif %}

                        {% if perms.bocatapp.administration %}

                            <div class="comment">
                                <a href="{% url 'report_list' pk=comment.pk %}">{% trans "Reports" %}</a>
                                <button onclick="location.replace('{% url 'report_list' pk=comment.pk %}');"
                                        class="form-control">
                                    {% trans "Report" %}
                                </button>

                            </div>
                        {% endif %}

                    </div>
                {% empty %}
                    <p>{% trans "There are no comments from this local" %}</p>

                {% endfor %}

            </div>
        </div>

        <a class="col-sm-2 text-left" href="javascript:history.back(-1);">
            <button type="button" class="btn btn-default" style="margin-bottom: 15px">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {% trans "Back" %}
            </button>
        </a>


    </div>
    <br/>
{% endblock %}
