{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}comments{% endblock %}

{% block content %}
    <h1>Comentarios</h1>
    <hr>
    {% for comment in comentarios %}

        <div class="comment">
            <p><strong>Valoracion: {{ comment.rating }}</strong></p>
            <p>{{ comment.description|linebreaks }}</p>
        </div>
        <div class="comment">
            <a href="{% url 'report_new' pk=comment.pk %}">Reportar</a>

        </div>
        <div class="comment">
            <a href="{% url 'report_list' pk=comment.pk %}">Reportes</a>
        </div>

        <hr/>

    {% empty %}
        <p>No hay comentarios sobre este local</p>
    {% endfor %}


    <hr/>
    <a href="{% url 'comment_new' pk=local %}">Comentar</a>
{% endblock %}


