{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}comments{% endblock %}


{% block content %}
    <link href="{% static "styles/stars.css" %}" rel="stylesheet">

    <div class="container">
        <h3>Comentarios de {{ local.name }}</h3>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                {% for comment in comentarios %}
                    <div class="item-search well white">
                        <div class="comment">
                        <p>Escrito por: <strong>{{ comment.customer.username }}</strong></p>

                            <p>Valoracion:
                            {% for i in "x"|ljust:comment.rating %}
                                <i class="fa fa-star"></i>
                            {% endfor %}
                            <p>{{ comment.description|linebreaks }}</p>
                        </div>
                        {% if perms.bocatapp.customer %}

                            <div class="comment">
                                <a class="btn btn-danger"
                                   onclick="location.replace('{% url 'report_new' pk=comment.pk %}')"><span
                                        class="glyphicon glyphicon-remove"></span> Reportar </a></h3>


                            </div>
                        {% endif %}

                        {% if perms.bocatapp.administration %}

                            <div class="comment">
                                <a href="{% url 'report_list' pk=comment.pk %}">Reportes</a>
                                <button onclick="location.replace('{% url 'report_list' pk=comment.pk %}');"
                                        class="form-control">
                                    Reportar
                                </button>

                            </div>
                        {% endif %}

                    </div>
                {% empty %}
                    <p>No hay comentarios sobre este local</p>

                {% endfor %}

            </div>
        </div>
        {% if perms.bocatapp.customer %}


            <a class="btn btn-primary" style="margin-right: 10px" onclick="location.replace('{% url 'comment_new' pk=local.pk %}')"><span
                    class="glyphicon glyphicon-comment"></span> Comentar </a></h3>

        {% endif %}
        <button class="btn btn-default" onclick=" window.history.back();"><span
                class="glyphicon glyphicon-arrow-left"></span> Atrás
        </button>

    </div>
<br/>
{% endblock %}
