{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Dashboard {% endblock %}

{% block content %}
    <div class="container container-fluid">
        <div class="table-responsive">
            <table id="orders_pending" class="table table-striped table-hover table-menu">
                <h2>Pending Orders</h2>
                <thead>
                <tr>
                    <th class="no-sort">Pick up at</th>
                    <th class="no-sort">Status</th>
                    <th class="no-sort">Place</th>
                    <th class="no-sort">Products</th>
                    <th class="no-sort">Total price</th>
                </tr>
                </thead>

                <tbody>
                {% for o in orders_pending %}
                    <tr>
                    <td>{{ o.pickupMoment }}</td>
                    <td>
                        {% if o.status == True %}
                            Hecho
                        {% elif o.status == False %}
                            En proceso
                        {% elif o.status == None %}
                            Pendiente
                        {% endif %}
                    <td>{{ o.local }}</td>
                    <td>
                        {% for ol in o.orderline_set.all %}
                            <li>{{ ol.name }}</li>
                        {% endfor %}
                    </td>
                    <td>{{ o.totalPrice }}€</td>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <br/>
        <table id="orders_complete" class="table table-striped table-hover table-menu">
            <h2>Complete Orders</h2>
            <thead>
            <tr>
                <th class="no-sort">Pick up at</th>
                <th class="no-sort">Status</th>
                <th class="no-sort">Place</th>
                <th class="no-sort">Products</th>
                <th class="no-sort">Total price</th>
            </tr>
            </thead>

            <tbody>
            {% for o in orders_complete %}
                <tr>
                <td>{{ o.pickupMoment }}</td>
                <td>
                    {% if o.status == True %}
                        Hecho
                    {% elif o.status == False %}
                        En proceso
                    {% elif o.status == None %}
                        Pendiente
                    {% endif %}
                <td>{{ o.local }}</td>
                <td>
                    {% for ol in o.orderline_set.all %}
                        <li>{{ ol.name }}</li>
                    {% endfor %}
                </td>
                <td>{{ o.totalPrice }}€</td>
            {% endfor %}
            </tbody>
        </table>












{% endblock %}