{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Pedidos {% endblock %}
{% block content %}
    <div class="container">
        <h2>Pendientes</h2>
        <br/>
        {% if orders_pending %}
            {% for k,v in orders_pending.items %}
                <button class="accordion">
                    <b style="..."><u>Usuario</u>: </b>
                    {{ k.customer.username }}
                    <br/>
                    <b style="..."><u>Recogida</u>: </b>
                    {{ k.pickupMoment|date:'d/m/Y H:i' }}
                    <br/>
                    <b style="..."><u>Precio</u>: </b>
                    {{ k.totalPrice }} €
                    {% if perms.bocatapp.customer %}
                        <br/>
                        <b style="..."><u>Local</u>: </b>
                        {{ k.local }}
                    {% endif %}
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="carta">
                    <div class="row" style="...">
                        <div class="col-xs-3">
                            <h5><b style="..."><u>Producto</u></b></h5>
                        </div>
                        <div class="col-xs-3">
                            <h5><b style="..."><u>Precio</u></b></h5>
                        </div>
                        <div class="col-xs-3">
                            <h5><b style="..."><u>Unds</u></b></h5>
                        </div>
                    </div>
                    {% for ol in v %}
                        <div class="row" style="...">
                            <div class="col-xs-3">{{ ol.name }}</div>
                            <div class="col-xs-3">{{ ol.price }} €</div>
                            <div class="col-xs-3">{{ ol.quantity }}</div>
                        </div>
                        <hr/>
                    {% endfor %}

                    {% if not perms.bocatapp.customer %}
                        </hr>
                        <div class="col-xs-3" style="float: left"><a class="btn btn-success"
                                                                     href="{% url "local_do_order" pk=k.id %}"
                                                                     id="doOrder">
                            <i class="fa fa-check fa-lg"></i>
                            Marcar como hecho
                        </a>
                        </div>
                        <br/>
                        <hr/>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        {% else %}
            <h3>No hay pedidos pendientes =)</h3>
        {% endif %}

    </div>
    <div class="container">
        <h2>Hechos</h2>
        <br/>
        {% if orders_done %}
            {% for k,v in orders_done.items %}
                <button class="accordion">
                    <b style="..."><u>Usuario</u>: </b>
                    {{ k.customer.username }}
                    <br/>
                    <b style="..."><u>Recogida</u>: </b>
                    {{ k.pickupMoment|date:'d/m/Y H:i' }}
                    <br/>
                    <b style="..."><u>Precio</u>: </b>
                    {{ k.totalPrice }} €
                    {% if perms.bocatapp.customer %}
                        <br/>
                        <b style="..."><u>Local</u>: </b>
                        {{ k.local }}
                    {% endif %}
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="carta">
                    <div class="row" style="...">
                        <div class="col-xs-3">
                            <h5><b style="..."><u>Producto</u></b></h5>
                        </div>
                        <div class="col-xs-3">
                            <h5><b style="..."><u>Precio</u></b></h5>
                        </div>
                        <div class="col-xs-3">
                            <h5><b style="..."><u>Unds</u></b></h5>
                        </div>
                    </div>
                    {% for ol in v %}
                        <div class="row" style="...">
                            <div class="col-xs-3">{{ ol.name }}</div>
                            <div class="col-xs-3">{{ ol.price }} €</div>
                            <div class="col-xs-3">{{ ol.quantity }}</div>
                        </div>
                        <hr/>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <h3>No hay pedidos hechos =)</h3>
        {% endif %}
        <br/>

    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            }
        }
    </script>
{% endblock %}

