{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %} {% trans "Orders" %} {% endblock %}

{% block content %}

    <div class="container container-fluid">
        <div class="table-responsive">
            <table id="orders" class="table table-striped table-hover table-menu">
                <thead>
                    <tr>
                        <th class="no-sort">{% trans "Quantity" %}</th>
                        <th class="no-sort">{% trans "Product" %}</th>
                        <th class="no-sort">{% trans "Price" %}</th>
                        <th class="no-sort">{% trans "Status" %}</th>

                    </tr>
                </thead>

                <tbody>
                    {% for l in lines %}
                    <tr>
                        <td>{{ l.quantity }}</td>
                        <td>{{ l.price }}</td>
                        <td>{{ l.name }}</td>
                        {% if l.status == True %}
                            <td>{% trans "Done" %}</td>
                        {% else %}
                            <td> {% trans "Not done" %} &nbsp;
                        {% if perms.bocatapp.seller and l.order.local.seller.pk = request.user.id %}
                            <button class ='btn-primary' onclick="window.location.href='/customer/do_order_line/{{ l.id }}'" > DO </button>
                        {% endif %}
                        {% endif %}
                    </tr>



                    {%  endfor %}


                </tbody>



            </table>
        </div>

















    </div>















{% endblock%}