{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_messages %}
{% block title %}Comentarios{% endblock %}

{% block content %}
    <div class="container">
        <h1>Nuevo Reporte</h1>
        <form method="POST" class="report-form">{% csrf_token %}
            {% bootstrap_form form %}
            {{ form.as_p }}
            {% buttons %}
                <button type="submit" class="save">Guardar</button>
            {% endbuttons %}

        </form>
    </div>
{% endblock %}