{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_messages %}
{% load i18n %}
{% block title %}{% trans "Report" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "New report" %}</h1>
        <hr/>
        <form method="POST" class="report-form">{% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-danger">{% trans "Send" %}</button>
            {% endbuttons %}


        </form>
    </div>
{% endblock %}
