{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Reportes{% endblock %}

{% block content %}
    <link href="{% static "styles/stars.css" %}" rel="stylesheet">

    <div class="container">
    <h1>Reportes</h1>
    <hr>
    {% if reports %}
    {% for c, r in reports.items %}
        <div class="row">
            <div class="col-md-12">
                <div class="item-search well white">
                        <div class="comment">
                        <p>Escrito por: <strong>{{ c.customer.username }}</strong></p>

                            <p>Valoracion:
                            {% for i in "x"|ljust:c.rating %}
                                <i class="fa fa-star"></i>
                            {% endfor %}
                            <p>{{ c.description|linebreaks }}</p>
                        </div>
                        {% if perms.bocatapp.administration %}


                            </div>
                        {% endif %}

        {% for k in r %}
        <div class="report">
            <p>Reportado por: <b>{{ k.customer.username }}</b></p>
            <p>Razon: {{ k.reason }}</p>


        </div>


        <div class="botones">
            <a href="{% url 'report_accept' pk=k.pk %}" class='btn btn-primary'> Aceptar </a>
            <a href="{% url 'report_decline' pk=k.pk %}" class='btn btn-danger'> Rechazar </a>

        </div>
            <br/>

        {% endfor %}
            <hr/>
        <br/>
        </div>
        </div>
        {% endfor %}

    {% endif %}

    {% if not reports %}
        <h2>No hay reportes activos</h2>
    {% endif %}
    </div>
{% endblock %}