{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_messages %}
{% block title %}Reportar{% endblock %}

{% block content %}
    <div class="container">
        <h1>Nuevo Reporte</h1>
        <hr/>
        <form method="POST" class="report-form">{% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-danger">Enviar</button>
            {% endbuttons %}


        </form>
    </div>
{% endblock %}
