{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Reports" %}{% endblock %}

{% block content %}
    <link href="{% static "styles/stars.css" %}" rel="stylesheet">

    <div class="container">
    <h1>{% trans "Reports" %}</h1>
    <hr>
    {% if reports %}
    {% for c, r in reports.items %}
        <div class="row">
            <div class="col-md-12">
                <div class="item-search well white">
                        <div class="comment">
                        <p>{% trans "Writen by" %}: <strong>{{ c.customer.username }}</strong></p>

                            <p>{% trans "Valoration" %}:
                            {% for i in "x"|ljust:c.rating %}
                                <i class="fa fa-star"></i>
                            {% endfor %}
                            <p>{{ c.description|linebreaks }}</p>
                        </div>
                        {% if perms.bocatapp.administration %}


                            </div>
                        {% endif %}

        {% for k in r %}
        <div class="report">
            <p>{% trans "Reported by" %}: <b>{{ k.customer.username }}</b></p>
            <p>{% trans "Reason" %}: {{ k.reason }}</p>


        </div>


        <div class="botones">
            <a href="{% url 'report_accept' pk=k.pk %}" class='btn btn-primary'> {% trans "Accept" %} </a>
            <a href="{% url 'report_decline' pk=k.pk %}" class='btn btn-danger'> {% trans "Deny" %} </a>

        </div>
            <br/>

        {% endfor %}
            <hr/>
        <br/>
        </div>
        </div>
        {% endfor %}

    {% endif %}

    {% if not reports %}
        <h2>{% trans "There are no activated reports" %}</h2>
    {% endif %}
    <div class="row">
                <a class="col-sm-2 text-left" href="{% url 'home' %}">
                    <button type="button" class="btn btn-default" style="margin-bottom: 15px">
                        <span class="glyphicon glyphicon" aria-hidden="true"></span> {% trans "Back" %}
                    </button>
                </a>
            </div>
    </div>
{% endblock %}