{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %} Gracias {% endblock %}

{% block content %}
    <div class="container">
        <img width="200" class="img-circle center-block"
             src="https://www.shareicon.net/data/2016/08/20/817720_check_395x512.png"
             alt="Thumb v3 avatar 1453299202">
        <div class="text-center">
            <h2>{% trans "Thank you! Your order is being processed, we will notify you when you are ready" %}</h2>
            <h4>{% trans "Do not forget to pick your order on time!" %}</h4>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{block.super}}
    <script type="text/javascript">
        $(document).ready( function () {
            removeCookieCart(), comprobeCookieCart();
        });
    </script>
{% endblock %}
